Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: #ffffff;
}
button {
    background-color: #4CAF50;
    width: 100%;
    color: orange;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}
form {
    border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
}
button:hover {
    opacity: 0.7;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}

.container {
    padding: 25px;
    background-color: lightblue;
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.adverts-header {
    min-height: 100vh;
    width: 100%;
    background-color: #e5e3e3;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

.home-home {
    display: inline-block;
    color: #fff;
    width: 65px;
    font-size: 25px;
    text-decoration: none;
}

.home-home::after {
    content: "";
    width: 0%;
    height: 3px;
    background: #8a8a8a;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.home-home:hover::after {
    width: 100%;
}

.home-adverts {
    display: inline-block;
    color: #000000;
    width: 65px;
    font-size: 25px;
    text-decoration: none;
}

.home-adverts::after {
    content: "";
    width: 0%;
    height: 3px;
    background: #8a8a8a;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.home-adverts:hover::after {
    width: 100%;
}

.home-nav-links {
    flex: 1;
    text-align: right;
}

.home-nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.home-nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.home-nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #8a8a8a;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.home-nav-links ul li:hover::after {
    width: 100%;
}

.adverts-nav-links {
    flex: 1;
    text-align: right;
}

.adverts-nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.adverts-nav-links ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}

.adverts-nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #8a8a8a;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.adverts-nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #8a8a8a;
    background: #8a8a8a;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    #navLinks ul li {
        display: block;
    }

    #navLinks {
        position: absolute;
        background: #8a8a8a;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    #navLinks ul {
        padding: 30px;
    }

    .row {
        flex-direction: column;
    }
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

h3 {
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

*{box-sizing:border-box;}

body {
    font-family: 'open sans', helvetica, arial, sans;
    background:url(http://farm8.staticflickr.com/7064/6858179818_5d652f531c_h.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.log-form {
    width: 40%;
    min-width: 320px;
    max-width: 475px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    box-shadow: 0px 2px 5px rgba(0,0,0,.25);

    @media(max-width: 40em){
        width: 95%;
        position: relative;
        margin: 2.5% auto 0 auto;
        left: 0%;
        -webkit-transform: translate(0%,0%);
        -moz-transform: translate(0%,0%);
        -o-transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
        transform: translate(0%,0%);
    }

    form {
        display: block;
        width: 100%;
        padding: 2em;
    }

    h2 {
        width: 100%;
        font-family: 'open sans condensed';
        font-size: 1.35em;
        display: block;
        width: 100%;
        text-transform: uppercase;
        padding: .75em 1em .75em 1.5em;
        box-shadow:inset 0px 1px 1px;
        border: 1px solid;
        text-shadow: 0px 1px 1px ;
        margin: 0;
        font-weight: 200;
    }

    input {
        display: block;
        width: 100%;
        margin: auto auto 2em;
        border: none;
        border-bottom: 1px solid #eaeaea;
        padding: .5em 0 1.25em;
        color: #757575;
        &:focus {
            outline: none;
        }
    }

    .btn {
        display: inline-block;
        border: 1px solid;
        padding: .5em 2em;
        color: white;
        margin-right: .5em;
        box-shadow: inset 0px 1px 0px;
        &:focus {
            outline: none;
        }
    }

    .forgot {
        line-height: .5em;
        position: relative;
        top: 2.5em;
        text-decoration: none;
        font-size: .75em;
        margin:0;
        padding: 0;
        float: right;

    }

}



