<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add an advert</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/add_adverts_style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body>
<nav>
    <a href="/index.html" class="home-adverts">Home</a>
    <div class="adverts-nav-links" id="navLinks">
        <i class="fa fa-times" onclick="hideMenu()"></i>
        <ul>
            <li><a href="/adverts">Adverts</a></li>
        </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>
<h1>Add an advert</h1>
<form action="#" th:action="@{/add_advert}" th:object="${advert}" method="post">
    <label>Name:<input type="text" th:field="*{name}"/></label><br>
    <label>Link:<input type="text" th:field="*{link}"/></label><br>
    <p>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
        <a href="adverts" class="cancel-btn"><button>Cancel</button></a>
    </p>
</form>
</body>
</html>
