<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of favourite cars</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/login_styling.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body>
<nav>
    <a href="/index.html" class="home-adverts">Home</a>
    <div class="adverts-nav-links" id="navLinks">
        <i class="fa fa-times" onclick="hideMenu()"></i>
        <ul>
            <li><a href="/adverts">Adverts</a></li>
        </ul>
    </div>
    <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>

<div class="log-form">
    <h2>Login to your account</h2>
    <form th:action="@{/login}" method="post" onsubmit="return validateForm()">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit" class="btn">Login</button>
    </form>
</div>

<script>
    const navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }

    function validateForm() {
        const username = document.getElementsByName("username")[0].value;
        const password = document.getElementsByName("password")[0].value;

        if (username.trim() === "" || password.trim() === "") {
            alert("Username and password are required. html");
            return false; // Prevent form submission
        } else {
            return true; // Allow form submission
        }
    }
</script>
</body>
</html>
